<div class="center">
    
    <h1>Oh no!</h1>
    <h1>Poop!</h1>

    <p><%= image_tag("Poop.png", alt: "Poop") %></p>

    <h1> Why did you click on the link!?</h1>

    <h1>It's everywhere!</h1>
</div>
