<!DOCTYPE html>
<html>
  <head>
    <title>Exaggerface</title>
  </head>
  <body class="center">
      <h1>Exaggerface!</h1>
    <p>Sarah's Facepainting Empire!</p>
    <%= link_to "Don't click on this link!", help_path %>
  </body>
</html>

